* 
{
    box-sizing: border-box;
    font-family: 'Lato';
}

body
{
padding-right: 20px;
}

h2 {
    font-weight: 900;
}

p {
    font-weight: 400;
    max-height: 120px;
    width: 500px;
    word-wrap: break-word;
    text-align: left;
    overflow: hidden;
}

.container
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 730px 730px;
    gap: 20px;
    
}

.content
{   
    padding: 20px;
    font-size: 15px;
    width: 500px;
}


@media screen and (min-width: 1025px) and (max-width: 1200px){
    div {
        background: #2b911b;

    } 
}

@media screen and (min-width: 641px) and (max-width: 1024px){
    div {
        background: #fff241;
        padding: 20px;
    }
    .content {
        inline-size: auto;
        inline-size: auto;
        object-fit: cover;
    }
}

@media screen and (max-width: 640px){
    div {
        background: #ff4141;
        padding: 20px;
    }
    .container
    {
        grid-template-columns: 1fr;
    }

    .content {
        inline-size: auto;
        object-fit: cover;
    }
}
